.pokedex {
    .cube1{
        width: 1740px;
        height: 500px;
        background-color: rgb(145, 4, 4);
        position: absolute;
        bottom: 0px;
        left: 70px;
        z-index: -1;
        
    }
}

